body {
  font-size: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
}

main {
  padding: 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

main > section {
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: Italiana;
  src: url("./fonts/Italiana-Regular.ttf");
}

@font-face {
  font-family: NewsFlash;
  src: url("./fonts/NewsflashBB.ttf");
}

.header {
  width: 100%;
  /* height: 100px; */
}

.header__container {
  display: flex;
  margin: 0 8px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.divider {
  color: black;
  width: 80%;
  padding: 1px;
  background-color: black;
}

.header__name {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}

.header__navbar {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.header__navbar a {
  padding: 8px;
  font-size: 1.5rem;
  font-family: NewsFlash;
  /* font-weight: bold; */
  text-decoration: none;
  color: black;
}

.news {
  display: flex;
  justify-content: center;
  max-width: 400px;
  flex-direction: column;
  /* background-color: white; */
}

.news figure {
  width: 100%;
  margin: 0;
  height: 250px;
}

.news figure img {
  width: 100%;
  height: 100%;
}

.news__info {
  padding: 8px;
}

.news__title {
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}

.news__description {
  margin-top: -8px;
  font-size: 1rem;
  text-align: justify;
  color: grey;
}

.news__iframeVideo {
  width: 100%;
}

.footer {
  padding: 12px;
  display: flex;
  justify-content: center;
}

.footer span {
  font-size: 1.1rem;
  font-family: Italiana;
  font-weight: 600;
  margin: auto;
}

@media only screen and (min-width: 840px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main > section {
    margin: 0 16px;
  }
}

@media only screen and (min-width: 1760px) {
  main {
    justify-content: flex-start;
  }
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  align-self: center;
}

.about img {
  width: 90%;
}

.about h4 {
  font-family: Italiana;
  font-size: 1.1rem;
}

.contato {
  margin: 0;
  width: 100%;
}

.contato iframe {
  width: 100%;
  height: 850px;
}

.references a {
  font-size: 0.8rem;
  text-decoration: underline;
  color: blue;
  padding: auto;
}

.main-about {
  justify-content: center;
}

.about__logo {
  width: 40px;
  height: 40px;
}
